# Introduction to Sckit-Learn(sklearn)

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our qdata
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all togetther!!

In [30]:
# Standard imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## 0. An end-to-end Scikit-Learn workflow

In [12]:
# 1. Get the data ready
heart_disease = pd.read_csv("./data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# Create X (Features matrix)
x = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

In [24]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We will keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [25]:
# 3. Fit the model to the traning data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2) # test: 20%, train: 80%

In [26]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [13]:
# make a prediction
y_label = clf.predict(np.array([0, 2, 3, 4]))

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [27]:
y_preds = clf.predict(x_test)
y_preds

array([1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1], dtype=int64)

In [28]:
# 4. Evaluate the model on the traning data and test data
clf.score(x_train, y_train)

1.0

In [29]:
clf.score(x_test, y_test)

0.8032786885245902

In [17]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.81      0.78      0.79        27
           1       0.83      0.85      0.84        34

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [18]:
confusion_matrix(y_test, y_preds)

array([[21,  6],
       [ 5, 29]], dtype=int64)

In [19]:
accuracy_score(y_test, y_preds)

0.819672131147541

In [20]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 1):
    print(f"Trying model with {i} esimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 esimators...
Model accuracy on test set: 83.61%

Trying model with 11 esimators...
Model accuracy on test set: 85.25%

Trying model with 12 esimators...
Model accuracy on test set: 77.05%

Trying model with 13 esimators...
Model accuracy on test set: 83.61%

Trying model with 14 esimators...
Model accuracy on test set: 80.33%

Trying model with 15 esimators...
Model accuracy on test set: 83.61%

Trying model with 16 esimators...
Model accuracy on test set: 81.97%

Trying model with 17 esimators...
Model accuracy on test set: 80.33%

Trying model with 18 esimators...
Model accuracy on test set: 78.69%

Trying model with 19 esimators...
Model accuracy on test set: 78.69%

Trying model with 20 esimators...
Model accuracy on test set: 83.61%

Trying model with 21 esimators...
Model accuracy on test set: 80.33%

Trying model with 22 esimators...
Model accuracy on test set: 83.61%

Trying model with 23 esimators...
Model accuracy on test set: 80.33%

Trying model with 24 esimators...
Model accuracy on test set: 81.97%

Trying model with 25 esimators...
Model accuracy on test set: 83.61%

Trying model with 26 esimators...
Model accuracy on test set: 85.25%

Trying model with 27 esimators...
Model accuracy on test set: 83.61%

Trying model with 28 esimators...
Model accuracy on test set: 78.69%

Trying model with 29 esimators...
Model accuracy on test set: 80.33%

Trying model with 30 esimators...
Model accuracy on test set: 81.97%

Trying model with 31 esimators...
Model accuracy on test set: 80.33%

Trying model with 32 esimators...
Model accuracy on test set: 80.33%

Trying model with 33 esimators...
Model accuracy on test set: 80.33%

Trying model with 34 esimators...
Model accuracy on test set: 78.69%

Trying model with 35 esimators...
Model accuracy on test set: 78.69%

Trying model with 36 esimators...
Model accuracy on test set: 83.61%

Trying model with 37 esimators...
Model accuracy on test set: 83.61%

Trying model with 38 esimators...
Model accuracy on test set: 83.61%

Trying model with 39 esimators...
Model accuracy on test set: 85.25%

Trying model with 40 esimators...
Model accuracy on test set: 81.97%

Trying model with 41 esimators...
Model accuracy on test set: 81.97%

Trying model with 42 esimators...
Model accuracy on test set: 78.69%

Trying model with 43 esimators...
Model accuracy on test set: 80.33%

Trying model with 44 esimators...
Model accuracy on test set: 81.97%

Trying model with 45 esimators...
Model accuracy on test set: 80.33%

Trying model with 46 esimators...
Model accuracy on test set: 80.33%

Trying model with 47 esimators...
Model accuracy on test set: 78.69%

Trying model with 48 esimators...
Model accuracy on test set: 83.61%

Trying model with 49 esimators...
Model accuracy on test set: 83.61%

Trying model with 50 esimators...
Model accuracy on test set: 78.69%

Trying model with 51 esimators...
Model accuracy on test set: 83.61%

Trying model with 52 esimators...
Model accuracy on test set: 83.61%

Trying model with 53 esimators...
Model accuracy on test set: 80.33%

Trying model with 54 esimators...
Model accuracy on test set: 83.61%

Trying model with 55 esimators...
Model accuracy on test set: 85.25%

Trying model with 56 esimators...
Model accuracy on test set: 81.97%

Trying model with 57 esimators...
Model accuracy on test set: 85.25%

Trying model with 58 esimators...
Model accuracy on test set: 83.61%

Trying model with 59 esimators...
Model accuracy on test set: 81.97%

Trying model with 60 esimators...
Model accuracy on test set: 81.97%

Trying model with 61 esimators...
Model accuracy on test set: 81.97%

Trying model with 62 esimators...
Model accuracy on test set: 85.25%

Trying model with 63 esimators...
Model accuracy on test set: 81.97%

Trying model with 64 esimators...
Model accuracy on test set: 83.61%

Trying model with 65 esimators...
Model accuracy on test set: 81.97%

Trying model with 66 esimators...
Model accuracy on test set: 83.61%

Trying model with 67 esimators...
Model accuracy on test set: 81.97%

Trying model with 68 esimators...
Model accuracy on test set: 83.61%

Trying model with 69 esimators...
Model accuracy on test set: 81.97%

Trying model with 70 esimators...
Model accuracy on test set: 80.33%

Trying model with 71 esimators...
Model accuracy on test set: 80.33%

Trying model with 72 esimators...
Model accuracy on test set: 81.97%

Trying model with 73 esimators...
Model accuracy on test set: 81.97%

Trying model with 74 esimators...
Model accuracy on test set: 83.61%

Trying model with 75 esimators...
Model accuracy on test set: 81.97%

Trying model with 76 esimators...
Model accuracy on test set: 83.61%

Trying model with 77 esimators...
Model accuracy on test set: 83.61%

Trying model with 78 esimators...
Model accuracy on test set: 83.61%

Trying model with 79 esimators...
Model accuracy on test set: 81.97%

Trying model with 80 esimators...
Model accuracy on test set: 78.69%

Trying model with 81 esimators...
Model accuracy on test set: 81.97%

Trying model with 82 esimators...
Model accuracy on test set: 81.97%

Trying model with 83 esimators...
Model accuracy on test set: 81.97%

Trying model with 84 esimators...
Model accuracy on test set: 80.33%

Trying model with 85 esimators...
Model accuracy on test set: 81.97%

Trying model with 86 esimators...
Model accuracy on test set: 81.97%

Trying model with 87 esimators...
Model accuracy on test set: 80.33%

Trying model with 88 esimators...
Model accuracy on test set: 81.97%

Trying model with 89 esimators...
Model accuracy on test set: 81.97%

Trying model with 90 esimators...
Model accuracy on test set: 80.33%

Trying model with 91 esimators...
Model accuracy on test set: 80.33%

Trying model with 92 esimators...
Model accuracy on test set: 83.61%

Trying model with 93 esimators...
Model accuracy on test set: 81.97%

Trying model with 94 esimators...
Model accuracy on test set: 83.61%

Trying model with 95 esimators...
Model accuracy on test set: 81.97%

Trying model with 96 esimators...
Model accuracy on test set: 81.97%

Trying model with 97 esimators...
Model accuracy on test set: 83.61%

Trying model with 98 esimators...
Model accuracy on test set: 83.61%

Trying model with 99 esimators...
Model accuracy on test set: 83.61%

In [21]:
# 6. Save a model and load dit
import pickle

# Save model
pickle.dump(clf, open("random_forst_model_1.pkl", "wb")) # wb: write binary

In [23]:
loaded_model = pickle.load(open("random_forst_model_1.pkl", "rb"))# rb: read binary
loaded_model.score(x_test, y_test)

0.8360655737704918

## 1. Getting our data ready to be used with matchine learning

Three main things we have to do:
    1. Split the data into features and labels (usually `x` & `y`)
    2. Filings (also called imputing) or disregarding missing values
    3. Converting non-numerical values to numerical values (also called feature encodeing)

In [31]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [33]:
x = heart_disease.drop("target", axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [34]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [35]:
# Split the data into training and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [36]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [38]:
x.shape

(303, 13)

In [40]:
x.shape[0] * 0.8

242.4

In [39]:
len(heart_disease)

303

### 1.1 Make sure it's numerical

In [41]:
car_sales = pd.read_csv("./data/car-sales-extended.csv");
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [50]:
car_sales["Doors"].value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

In [42]:
len(car_sales)

1000

In [44]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [48]:
# Split into x, y
x = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# Split into training and test data set
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2)

In [49]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(x_train, y_train)
model.score(x_test, y_test)

ValueError: could not convert string to float: 'Honda'

In [51]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categories_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 categories_features)],
                               remainder="passthrough")

transformer_x = transformer.fit_transform(x)
transformer_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [52]:
pd.DataFrame(transformer_x)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [53]:
dummies = pd.get_dummies(car_sales[categories_features])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [54]:
# Let's refit the model
np.random.seed(42)
x_train, x_test, y_train, y_test = train_test_split(transformer_x,
                                                   y,
                                                   test_size=0.2)

model.fit(x_train, y_train)

RandomForestRegressor()

In [55]:
model.score(x_test, y_test)

0.3235867221569877

In [59]:
import sklearn

print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 0.24.2.

## 1.2 What if there were missing values?

1. Fill them with some value (also know as imputation).
2. Remove the samples with missing data altogether.

In [62]:
# Import car sales missing data
car_sales_missing = pd.read_csv("./data/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [63]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [65]:
# Create x and y
x = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

## Option 1: Fill missing data with Pandas

### NOTE: If cannot tranform => fill the misswing data to other value

e.g. car_sales_missing["Make"].fillna("missing", inplace=True)


If the target is empty will be remove this row that be empty
e.g. car_sales_missing.dropna(inplace=True)

In [71]:
# Fill missing data
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [74]:
car_sales_missing["Doors"].value_counts()

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

In [75]:
# Fill missing data
car_sales_missing["Make"].fillna("missing", inplace=True)
car_sales_missing["Colour"].fillna("missing", inplace=True)
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)
car_sales_missing["Doors"].fillna(4, inplace=True) # 4 is almost of the doors data

# Remove empty 'Price' rows
car_sales_missing.dropna(inplace=True)

In [76]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [79]:
# Re-create x and y
x = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

In [80]:
# Let's try and convert our data to number
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categories_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 categories_features)],
                               remainder="passthrough")

transformer_x = transformer.fit_transform(car_sales_missing)
transformer_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

In [81]:
np.random.seed(42)
x_train, x_test, y_train, y_test = train_test_split(transformer_x,
                                                   y,
                                                   test_size=0.2)

model.fit(x_train, y_train)

RandomForestRegressor()

In [82]:
model.score(x_train, y_train)

0.9999190721383177

In [83]:
model.score(x_test, y_test)

0.9998421058539825

## Option 2: Fill missing values with Scikit-Learn

In [84]:
# Import car sales missing data
car_sales_missing = pd.read_csv("./data/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [85]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64